// HTML

.webkit-html-comment {
  color: $html-comment !important;
}

.webkit-html-tag {
  color: $html-tag !important;
}

.webkit-html-attribute-name {
  color: $html-attribute-name !important;
}

.webkit-html-attribute-value {
  color: $html-attribute-value !important;
}

.webkit-html-text-node {
  color: $html-text-node !important;
}

.webkit-html-css-node {
  color: $html-css-node !important;
}

.webkit-html-js-node {
  color: $html-js-node !important;
}