// Main window

.sidebar-separator {
  background-color: $bgColor !important;
}

.sidebar-tree-section {
  color: $css-value !important;
  text-shadow: none !important;
}

.tabbed-pane-content {
  background-color: lighten($bgColor, 5%) !important;
}

.webkit-html-external-link,
.webkit-html-resource-link {
  color: $external-link !important;
}

// Styles section

.styles-section {
  .selector-matches,
  .header .subtitle {
    color: $cyan !important;
  }

  .properties {
    color: $css-value;
  }

  .selector {
    color: $html-comment !important;
  }
}

// Event listeners

.event-bars {
  .event-bar .header .title {
    text-shadow: none !important;
  }

  .event-properties .name {
    color: $cyan !important;
  }
}