// Main window

#main {
  background-color: $bgColor !important;
  color: $textColor;
}

// Toolbar and Sidebar
#toolbar,
.tabbed-pane-header,
.sidebar {
  background-image: none !important;
  background-color: darken($base01, 10%) !important;
  border-top: none !important;
  border-bottom-color: $blue !important;
  border-bottom-width: 2px !important;

  .toolbar-label {
    color: $base2 !important;
  }
}

.tabbed-pane-header-tab.selected {
  background-color: transparent !important;
  border: 1px solid darken($base01,10%) !important;
  border-top: 0!important;
}

.tabbed-pane-placeholder {
  text-shadow: none !important;
}